<div id="modal" class="modal">
    <div class="modal__bg"></div>

    <div class="modal__content">
        <button class="modal__close">×</button>

        <h2 class="modal__title">Оставить заявку</h2>

        <form class="modal__form">

            <label>Имя
                <input type="text" placeholder="Введите имя">
            </label>

            <label>Телефон
                <input type="text" placeholder="+7 ___">
            </label>

            <label>Комментарий
                <textarea placeholder="Ваш вопрос"></textarea>
            </label>

            @@include('./_button.html', {
            "padding-x": "60px",
            "padding-y": "25px",
            "border-color": "none",
            "tittle": "<b>Отправить</b>",
            "background-color": "transparent",
            "font-size": "20px",
            "background-image": "linear-gradient(90deg, #F432A7 0%, #7A00FF 100%)"
            })

        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {

        const modal = document.querySelector("#modal");
        const bg = modal.querySelector(".modal__bg");
        const closeBtn = modal.querySelector(".modal__close");

        const modalOpener = (e) => {
            const btn = e.target.closest('.button[data-modal="true"]');
            if (!btn) return;
            e.preventDefault();
            modal.classList.add("active");
        };

        document.body.addEventListener('click', modalOpener);

        const closeModal = () => modal.classList.remove("active");

        bg.addEventListener("click", closeModal);

        closeBtn.addEventListener("click", closeModal);

        document.addEventListener("keydown", (e) => {
            if (e.key === "Escape") closeModal();
        });

    });
</script>