<button id="theme-toggle" class="theme-btn">🌙</button>

<script>
    const toggle = document.querySelector("#theme-toggle");
    const root = document.documentElement;

    if (localStorage.getItem("theme")) {
        root.setAttribute("data-theme", localStorage.getItem("theme"));
    }

    toggle.addEventListener("click", () => {
        const isDark = root.getAttribute("data-theme") === "dark";
        const newTheme = isDark ? "light" : "dark";

        root.setAttribute("data-theme", newTheme);
        localStorage.setItem("theme", newTheme);
    });
</script>
<script>
    const burger = document.querySelector(".burger");
    const nav = document.querySelector(".header-nav");

    burger.addEventListener("click", () => {
        nav.classList.toggle("active");
    });
</script>