// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/button';
@use 'components/card';
@use 'components/header';
@use 'components/review';
@use 'components/star';
@use 'components/slider';
@use 'components/footer';
@use 'components/form';
@use 'components/theme';
@use 'components/modal';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700&display=swap');
@import "page1";
@import "page2";
@import "page3";
@import "page4";

body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: "Onest", sans-serif;
text-align: center;
}
:root {
  --bg: #ffffff;
  --text: #000000;
  --subtext: rgba(0, 0, 0, 0.7);
  --card-bg: #ffffff;
  --card-border: #e5e5e5;
  --logo:#4B297D
}

[data-theme="dark"] {
  --bg: #111;
  --text: #fff;
  --subtext: rgba(255, 255, 255, 0.75);
  --card-bg: #1a1a1a;
  --card-border: #333;
  --logo: #fff;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: background .3s ease, color .3s ease;
}

.about-block,
.zone-card,
.step-card,
.form input,
.form textarea {
  background: var(--card-bg);
  border-color: var(--card-border);
  color: var(--text);
}


@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}



@media (max-width: 1279px) and (min-width: 768px) {

  .about-block__inner,
  .zones-row,
  .steps-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .zone-card {
    width: 48%;
  }

  .about-img {
    width: 100%;
  }

  .about-title {
    font-size: 40px;
  }
}


@media (max-width: 767px) {

  .about-title,
  .booking-title {
    font-size: 34px;
  }

  .about-subtitle,
  .booking-subtitle {
    font-size: 17px;
  }

  .about-block__inner,
  .zones-row,
  .steps-row {
    flex-direction: column;
  }

  .zone-card {
    width: 100%;
  }

  .form {
    width: 100%;
    padding: 0 20px;
  }

  .about-img,
  .booking-img {
    width: 100%;
    height: auto;
  }
}


